* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
}

header {
  background-color: lightblue;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 150px;
  width: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(224, 62, 105);
}

.cart-icon {
  height: 40px;
  width: auto;
  cursor: pointer;
}

.product-section .pro-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30pxpx;
}

.product-section h1 {
  text-align: center;
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

.product-section p {
  text-align: center;
  font-size: 16px;
  color: black;
  margin: 15px 0 20px 0;
}

.product-section .product-cart {
  width: 280px;
  border: 1px solid #ebebeb;
  padding: 13px;
  margin-bottom: 30px;
  border-radius: 25px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: box-shadow 0.2s;
}

.product-section .product-cart:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product-section .product-cart img {
  width: 100%;
  border-radius: 25px;
}

.product-section .product-cart span {
  color: black;
  font-size: 16px;

}

/* .product-section .product-cart h4 {
    font-size: 18px;
    color: rgb(41, 41, 41);
  }*/

.product-section .product-cart .price {
  color: #088178;
  padding: 4px 0;
}

.product-section .product-cart button {
  padding: 10px 20px;
  background-color: gray;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
}

.product-section .product-cart button:hover {
  background: red;
}

.footer {
  background-color: rgb(161, 154, 154);
  color: white;
  margin-top: 500px;
  padding: 20px 0;
  margin-top: 20px;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .container .footer-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer .container .footer-info p {
  font-size: 12px;
  margin: 5px 0;
}