* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

header {
  background-color: lightblue;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.logo img {
  height: 150px;
  width: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(224, 62, 105);
}

.cart-icon {
  height: 40px;
  width: auto;
  cursor: pointer;
}

cart {
  margin-top: 80px;
}

.product {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

h1 {
  font-size: 35px;
  color: black;
  text-shadow: 0 0 20px #fff;
  margin-top: 20px;
  text-align: center;
}

.product img {
  max-width: 200px;
  margin-right: 20px;
}

.product-info {
  flex: 1;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.price {
  color: #000000;
  font-size: 16px;
  margin-right: 20px;
}

.product-controls {
  display: flex;
  align-items: center;
}

button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-right: 5px;
}

button.delete-button {
  background-color: #DC3545;
}

button:hover {
  background-color: #0056b3;
}

.tongCong {
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 1;
  width: 99%;
  margin-left: 8px;
}

.tongCong p,
.tongCong .tt {
  display: inline-block;
  /* vertical-align: middle; Để căn giữa theo chiều dọc */
  font-weight: bold;
}

.tongCong p {
  font-size: 30px;
}

.tongCong .tt {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tongCong .tt:hover {
  background-color: #0056b3;
}

.tongCong p,
.tongCong .tt {
  display: inline-block;
  /* vertical-align: middle; Để căn giữa theo chiều dọc */
  font-weight: bold;
}

.tongCong p {
  font-size: 30px;
}

.tongCong .tt {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tongCong .tt:hover {
  background-color: #0056b3;
}


/*..chat..*/
.footer {
  background-color: rgb(161, 154, 154);
  color: white;
  margin-top: 500px;
  padding: 20px 0;
  margin-top: 20px;
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .container .footer-info h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer .container .footer-info p {
  font-size: 12px;
  margin: 5px 0;
}
